* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
    background-color: #f9f2e7;
}

.main {
    display: none;
    background-color: #f9f2e7;
}

.title {
    background-color: #ffffff;
    padding: 5px 0px;
    font-size: 8px;
}

p {
    margin: 0;
    padding: 0;
}

#card-img {
    height: 300px !important;
}


.logo {
    background-color: #f9f2e7;
    width: 100%;


}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.mynav ul li {
    padding: 5px;
    font-size: 16px;
}

.mynav ul li a {
    color: #ffffff;
    padding: 0px 10px;
    text-decoration: none;
}

.mynav ul li:hover a {
    color: #000000;

}

.mynav ul li:hover {
    background-color: #ffffff;

}

.activenav {
    background-color: #ffffff;
}

.activenav a {
    background-color: #ffffff;
    color: black !important;
}

.myporducts {
    background-color: #f9f2e7;
}

.col-6 {
    padding: 3px;
}

.divforslider {
    height: 650px;
    width: 100%;
}

.cover {
    height: 100%;
    width: 100%;
    background: #0000004d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herotext {
    width: 70%;
    text-align: center;
    color: #ffffff;
}

.herotext h1 {
    font-size: 65px;
    font-weight: 600;
}

.herotext p {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
}

.swiper {
    width: 100%;
    height: 100%;
}



.swiper-slide {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@-webkit-keyframes waterfall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    40%,
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(250%);
        transform: translateY(250%);
    }
}

@keyframes waterfall {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }

    40%,
    60% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(250%);
        transform: translateY(250%);
    }
}

.waterfall {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f9f2e7;
    display: block;
}

.waterfall div {
    -webkit-animation: waterfall 1.5s infinite;
    animation: waterfall 1.5s infinite;
    /* background-color: var(--primary); */
    height: 20px;
    left: 50%;
    margin-top: -10px;
    opacity: 0;
    background-color: #7f4f33;
    position: absolute;
    top: 50%;
    width: 20px;
}

.waterfall div:nth-of-type(1) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
    margin-left: -10px;
}

.waterfall div:nth-of-type(2) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    margin-left: 15px;
}

.waterfall div:nth-of-type(3) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    margin-left: -35px;
}

.waterfall div:nth-of-type(4) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    margin-left: 40px;
}

.waterfall div:nth-of-type(5) {
    -webkit-animation-delay: 1.25s;
    animation-delay: 1.25s;
    margin-left: -60px;
}

.anchors {
    text-decoration: none;
    color: white;
}

.shopbtn {
    border: 2px solid black;
    border-radius: 0;
    padding: 5px 15px;
    /* font-size: 16px; */
    color: #ffffff;
    background-color: #000;
    font-weight: 600;
}

.products_titles {
    font-size: 28px;
}

.shopbtn:hover {
    background-color: transparent;
    color: #000;
    border: 2px solid black;
}

.shopbtn:hover .anchors {
    color: #000;
}

footer li {
    display: block;
    padding: 5px 0px;
    color: #fff;
}

footer li a {
    color: #b4b4b4;
    text-decoration: none;
}

.solidtext {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.icons {
    height: 25px;
    width: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;

}

.missiontext {
    width: 450px;
    margin: auto;
    color: #686e6b;

}

.devinfo p {
    color: #9d9393;
    margin-top: 25px;
}

.devinfo a {
    text-decoration: none;
    font-weight: 600;
}

.instabtn {
    padding: 0px 0px !important;
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    font-size: 25px;
    color: white;
}

.wpbtn {
    padding: 0px 0px !important;
    background-color: #25D366;
    font-size: 25px;
    color: white;
}

.instabtn:hover {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: #000;
}

.wpbtn:hover {
    color: #000;
    background-color: #25D366;
}

.price {
    font-size: 14px;
    margin-top: 5px;
}

.price i {
    font-size: 12px;
}

#buyanchor {
    color: #000 !important;
    text-decoration: none !important;
}

#snackbar {
    visibility: hidden;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 5px 15px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    background-color: green;
    font-size: 14px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}


@media only screen and (max-width: 768px) {

    .mynav ul li {
        padding: 5px;
        font-size: 10px;
    }

    .mynav ul li a {
        color: #ffffff;
        padding: 0px 5px !important;
        text-decoration: none;
    }

    .divforslider {
        height: 300px;
        width: 100%;
    }

    footer li {
        text-align: center;
    }

    .solidtext {
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        margin-top: 35px;
        margin-bottom: 0px;
    }

    .sociallinks {
        justify-content: center;

    }

    .missiontext {
        width: 100%;
        margin: auto;
        color: #686e6b;

    }

    .card-title {
        font-size: 16px;
        margin: 0;
    }

    .card-text {
        font-size: 12px;
    }

    .instabtn {
        padding: 0px 0px !important;
        background: #f09433;
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        font-size: 25px;
        color: white;
    }

    .wpbtn {
        padding: 0px 0px !important;
        background-color: #25D366;
        font-size: 25px;
        color: white;
    }

    #card-img {
        height: 200px !important;
    }

    .herotext h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .herotext p {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 2px;
    }


}